<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-img src="./assets/logo.png" class="img-circle"></ion-img>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="Password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button color="warning" expand="full" (click)="login()">LOGIN</ion-button>
  
</ion-content>
