<ion-header>
  <ion-toolbar color="warning">
    <ion-icon name="arrow-back" slot="start" routerLink="/home"></ion-icon>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/risol.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Risol</h2>
          <h3>jumlah : 50</h3>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon
            slot="icon-only"
            name="pencil"
            routerLink="/edit-menu"
          ></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/batagor.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Batagor</h2>
          <h3>jumlah : 50</h3>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/alpokat.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Jus Alpukat</h2>
          <h3>jumlah : 50</h3>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/eskopi.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Es Kopi</h2>
          <h3>jumlah : 50</h3>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/cucur.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Cucur</h2>
          <h3>jumlah : 50</h3>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/tambah-menu"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
