<ion-header>
  <ion-toolbar color="warning">
    <ion-icon name="arrow-back" slot="start" routerLink="/menu"></ion-icon>
    <ion-title>Edit Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  <ion-item>
  <ion-input placeholder="Nama Barang"></ion-input>
  <ion-input placeholder="Gambar"></ion-input>
  <ion-input placeholder="Jumlah"></ion-input>
  <ion-input placeholder="Harga Satuan"></ion-input>
</ion-item>
<ion-button color="primary" routerLink="/menu">Save</ion-button>
<ion-button color="primary" routerLink="/menu">Update</ion-button></ion-content>
