<ion-header>
  <ion-toolbar color="warning">
    <ion-icon name="arrow-back" slot="start" routerLink="/menu"></ion-icon>
    <ion-title>Tambah Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>
