<ion-app>
  <ion-header translucent>
    <ion-toolbar color="warning">
      <ion-title>Data-penjualan</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
   <ion-grid class = "kotakbesar">
     <ion-row class = "kotakbaris">
       <ion-col class = "kotakkolom">
         Produk
       </ion-col>
       <ion-col class = "kotakkolom">
         Harga
       </ion-col>
       <ion-col class = "kotakkolom">
        Jumlah
      </ion-col>
      <ion-col class = "kotakkolom">
         Terjual
       </ion-col>
       <ion-col class = "kotakkolom">
        Total
      </ion-col>
     </ion-row>
     <ion-row>
       <ion-col class = "kotakkolom">
         Risol
       </ion-col>
       <ion-col class = "kotakkolom">
         Rp.2000
       </ion-col>
       <ion-col class = "kotakkolom">
        50
      </ion-col>
      <ion-col class = "kotakkolom">
        4
      </ion-col>
      <ion-col class = "kotakkolom">
        Rp.8000
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col class = "kotakkolom">
        Jus Alpukat
      </ion-col>
      <ion-col class = "kotakkolom">
        Rp.6000
      </ion-col>
      <ion-col class = "kotakkolom">
       50
     </ion-col>
     <ion-col class = "kotakkolom">
       5
     </ion-col>
     <ion-col class = "kotakkolom">
       Rp.30000
     </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class = "kotakkolom">
        Mie Ayam
      </ion-col>
      <ion-col class = "kotakkolom">
        Rp.8000
      </ion-col>
      <ion-col class = "kotakkolom">
       150
     </ion-col>
     <ion-col class = "kotakkolom">
       3
     </ion-col>
     <ion-col class = "kotakkolom">
       Rp.24000
     </ion-col>
    </ion-row>
   </ion-grid>
  </ion-content>
</ion-app>
