<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent color="warning">
        <ion-title>SIKANTIN</ion-title>
        <ion-item>
          <ion-img src="./assets/logo.png" class="img-circle"></ion-img>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/profile">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-item>
        <ion-item routerLink="/menu">
          <ion-icon name="newspaper-sharp" slot="start"></ion-icon>
          <ion-label>Menu</ion-label>
        </ion-item>
        <ion-item routerLink="/data-penjualan">
          <ion-icon name="albums" slot="start"></ion-icon>
          <ion-label>Data Penjualan</ion-label>
        </ion-item>
        <ion-item routerLink="/grafik-penjualan">
          <ion-icon name="pulse-sharp" slot="start"></ion-icon>
          <ion-label>Grafik Penjualan</ion-label>
        </ion-item>
        <ion-item routerLink="/login">
          <ion-icon name="exit-sharp" slot="start"></ion-icon>
          <ion-label>Keluar</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="warning">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-title>ADMIN DASHBOARD</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-list-header
              >Welcome Yola, Love to see you back.</ion-list-header
            >
            <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/yolanda.jpeg" />
              </ion-avatar>
              <ion-label>
                <h3>USER ID : 001</h3>
                <p>Username : yolandasbrnss</p>
                <p>Password : ******</p>
                <p>Fullname : Yolanda Sabrina Salma</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</ion-app>
