<ion-header>
  <ion-toolbar color="warning">
    <ion-icon name="arrow-back" slot="start" routerLink="/home"></ion-icon>
    <ion-title>Grafik Penjualan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="./assets/grafik.png" />
  </ion-card>
  <ion-card>
    <img src="./assets/grafik2.png" />
  </ion-card>
</ion-content>
